<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">

        <style>
          body {
           background-image: url('img/gym.png');
           display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 28px;
          }
          button{
            font-size: 28px;
            background-color:black;
            color: white;
          }
        </style>
    
      
</head>
  
<body class="homepage">
    <h1>Lets Get Fit </h1>
    <h3>App for beginners people that want to start working out</h3>
    <h3>Type a part of the body and we will give you a a workout to do</h3>
    <input class="workOut" type="text">
    <button class="getWorkout">get your work out!</button>
    
    <h2></h2>
    <h4></h4>

    <div id="video-container">
        <h3>Video Tutorial:</h3>
        <iframe id="video-player" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
    </div>


    <button><a href="/profile">go to record data</a></button>

    <script src="main.js"></script>
</body>
</html>