body{
  padding-top:80px;
  word-wrap:break-word;
  background-image: url('img/gym.png');
  background-size: cover;
}
img{
  height: 200px;
}

div .col-sm-6 {
  background-color: aliceblue;
}
.homepage {
  background-image: url('img/gym.png');
}